<div
  class="relative min-h-screen flex items-center justify-center bg-[#f7f7f7]"
>
  <div class="absolute inset-0 z-0">
    <svg
      class="w-full h-full absolute inset-0 z-0"
      width="100rem"
      height="100rem"
      viewBox="0 0 100rem 100rem"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#blur-filter)">
        <path
          d="M182.191 515.979C-47.7424 475.244 -240.005 1049.16 -240.005 1049.16L-264.549 -27.7106L1775.36 -98.4755L1392.2 197.998C1392.2 197.998 808.502 702.186 600.63 717.682C392.759 733.179 386.853 552.237 182.191 515.979Z"
          fill="url(#paint0_linear_219_1545)"
        />
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_219_1545"
          x1="0"
          y1="0"
          x2="0"
          y2="300"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFB5A7" />
          <stop offset="1" stop-color="#F34040" />
        </linearGradient>
      </defs>
    </svg>
    <svg
      class="w-full h-full absolute inset-0 z-0"
      width="100rem"
      height="100rem"
      viewBox="0 0 100rem 100rem"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_f_219_1544)">
        <path
          d="M188.5 505C-25.993 455.955 -226.563 1056 -226.563 1056H-240V-30H1677L1328 252.5C1328 252.5 766.617 686.658 571 695C375.383 703.342 379.419 548.655 188.5 505Z"
          fill="url(#paint0_linear_219_1544)"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_219_1544"
          x="-440"
          y="-230"
          width="2317"
          height="1486"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="100"
            result="effect1_foregroundBlur_219_1544"
          />
        </filter>
        <linearGradient
          id="paint0_linear_219_1544"
          x1="0"
          y1="0"
          x2="0"
          y2="1"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.0001" stop-color="#F34040" />
          <stop offset="1" stop-color="#FFB5B5" />
        </linearGradient>
        <filter
          id="blur-filter"
          x="-500"
          y="-500"
          width="2400"
          height="2000"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feGaussianBlur stdDeviation="1" />
        </filter>
      </defs>
    </svg>
  </div>

  <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg z-10 relative">
    <img src="assets/logo.jpeg" alt="Logo" class="w-32 mx-auto mb-4" />

    <h2 class="text-center text-gray-700 text-lg font-semibold mb-1">
      ยินดีต้อนรับ !
    </h2>
    <p class="text-center text-gray-500 mb-6 text-sm">
      เข้าสู่ระบบเพื่อทำการสร้างใบที่ระลึกได้เลย
    </p>

    <form>
      <label class="block text-gray-600 mb-1" for="email-login">Email</label>
      <input
        id="email-login"
        type="email"
        required
        class="w-full p-3 border border-gray-300 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-[#F97B74]"
      />

      <label class="block text-gray-600 mb-1" for="password-login"
        >Password</label
      >
      <div class="relative">
        <input
          id="password-login"
          [type]="passwordFieldType"
          required
          class="w-full p-3 border border-gray-300 rounded pr-10 focus:outline-none focus:ring-2 focus:ring-[#F97B74]"
        />
        <span
          class="material-symbols-outlined absolute right-3 cursor-pointer select-none text-gray-500"
          style="top: 50%; transform: translateY(-50%); font-size: 20px"
          (click)="togglePasswordVisibility()"
        >
          {{
            passwordFieldType === "password" ? "visibility_off" : "visibility"
          }}
        </span>
      </div>

      <div
        class="flex items-center justify-between mb-6 mt-6 text-sm text-gray-600"
      >
        <label class="flex items-center space-x-2">
          <input type="checkbox" class="accent-[#F97B74]" />
          <span>จดจำไว้</span>
        </label>
        <a href="#" class="underline hover:text-[#e56769]">ลืมรหัสผ่าน?</a>
      </div>

      <button
        type="submit"
        class="w-full bg-[#F97B74] hover:bg-[#e56769] text-white py-3 rounded font-semibold transition"
      >
        Login
      </button>

      <p class="text-center text-gray-600 mt-6 text-sm">
        New User?
        <a
          routerLink="/staff/register"
          class="underline hover:text-[#e56769] cursor-pointer"
          >Register Here</a
        >
      </p>
    </form>
  </div>
</div>
