<div class="container">
  <!-- Header -->
  <div class="header">
    <img src="assets/logo.jpeg" alt="Logo" class="logo" />
    <button class="icon-btn">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <!-- Title -->
  <h2 class="title">เลือก Template</h2>

  <!-- Template Cards Grid -->
  <div class="grid">
    <div  class="card" *ngFor="let card of cards" (click)="openModal(card)">
      <mat-icon class="card-img">image</mat-icon>
      <button class="upload-btn">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

    <!-- Modal -->
    <div id="modal" class="modal" style="display: none; ">
        <div class="modal-content">
            <span class="close" (click)="closeModal()" >&times;</span>
            <h3>เลือกแม่แบบ</h3>
            <div class="template-image-container">
                <img src="assets/IMG_7069.jpg" alt="Template Image" class="template-image">
                <img src="assets/IMG_7070.jpg" alt="Template Image" class="template-image">
                <img src="assets/IMG_7071.jpg" alt="Template Image" class="template-image">
            </div>
            <button class="btn-confirm" style="bottom: 0; right:4rem; position: fixed; margin: 8px;">เลือก</button>
        </div>
    </div>

  <!-- Footer Buttons -->
  <div class="footer">
    <button routerLink="/customer/menu" (click)="delete_session()" class="btn-outline">ย้อนกลับ</button>
    <button routerLink="/customer/uploader" class="btn-filled">ถัดไป</button>
  </div>
</div>
