/* Add custom styles to match the design */
table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #f9fafb;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  font-weight: bold;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f97574;
}

input {
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  padding: 0 0 0 48px;
}

input:focus {
  border: solid 2px #f34040;
  outline: none;
}
