<mat-toolbar color="primary"> Angular Image Cropper </mat-toolbar>

    <mat-form-field>
      <input
        ngModel
        (ngModelChange)="height.set($event)"
        matInput
        placeholder="Enter image height..."
      />
    </mat-form-field>

    <mat-form-field>
      <input
        ngModel
        matInput
        (ngModelChange)="width.set($event)"
        placeholder="Enter image width..."
      />
    </mat-form-field>

    <div class="container">
      <app-image-control
        [width]="width()"
        [height]="height()"
        path="/profile-images/my-image"
        (imageReady)="imageReady($event)"
      />
    </div>