<div class="container">
  <!-- Header -->
  <div class="header">
    <img src="assets/logo.jpeg" alt="Logo" class="logo" />
    <button class="icon-btn">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <!-- Title -->
  <h2 class="title">Upload รูปภาพ</h2>

  <!-- Template Cards Grid -->
  <div class="grid">
    <div class="card" *ngFor="let card of cards">
      <mat-icon class="card-img">image</mat-icon>
      <button class="upload-btn">
        <span class="material-symbols-outlined">
upload
</span>
      </button>
    </div>
  </div>

  <!-- Footer Buttons -->
  <div class="footer">
    <button routerLink="/customer/select-temp" class="btn-outline">ย้อนกลับ</button>
    <button routerLink="/customer/editor" class="btn-filled">ถัดไป</button>
  </div>
</div>
