

<div class="container">
  <!-- Header -->
  <div class="header">
    <img src="assets/logo.jpeg" alt="Logo" class="logo" />
    <button class="icon-btn">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <!-- Title -->
    <h2 class="title">Preview</h2>
  <!-- Template Cards Grid -->
  

  <!-- Footer Buttons -->
  <div class="footer">
    <button routerLink="/customer/editor" class="btn-outline">ย้อนกลับ</button>
    <button routerLink="" class="btn-filled">ยืนยัน</button>
  </div>
</div>
