<div class="relative min-h-screen flex items-center justify-center bg-[#f7f7f7]">

  <div class="absolute inset-0 z-0">
    <svg
      class="w-full h-full"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      preserveAspectRatio="none"
    >
      <defs>
        <linearGradient id="bg-gradient" x1="0" y1="0" x2="0" y2="1">
          <stop offset="0%" stop-color="#fd7267" />
          <stop offset="100%" stop-color="#f7f7f7" />
        </linearGradient>
      </defs>
      <path
        fill="url(#bg-gradient)"
        d="M0,160 C360,320 1080,0 1440,160 L1440,320 L0,320 Z"
      />
    </svg>
  </div>
  
  <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg z-10 relative">

  <img src="assets/logo.jpeg" alt="Logo" class="w-32 mx-auto mb-4" />
  <h2 class="text-center text-gray-700 text-lg font-semibold mb-1">
    ลงทะเบียน
  </h2>
  <p class="text-center text-gray-500 mb-6 text-sm">สำหรับเจ้าหน้าที่</p>

  <form>
    <label class="block text-gray-600 mb-1" for="username-register"
      >Username</label
    >
    <input
      id="username-register"
      type="text"
      required
      class="w-full p-3 border border-gray-300 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-[#F97B74] pr-10"
    />

    <label class="block text-gray-600 mb-1" for="email-register">Email</label>
    <input
      id="email-register"
      type="email"
      required
      class="w-full p-3 border border-gray-300 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-[#F97B74] pr-10"
    />

    <label class="block text-gray-600 mb-1" for="password-register"
      >Password</label
    >
    <div class="relative">
      <input
        id="password-register"
        [type]="passwordFieldType"
        required
        class="w-full p-3 border border-gray-300 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-[#F97B74] pr-10"
      />
      <span
        class="material-symbols-outlined absolute right-3 cursor-pointer select-none text-gray-500"
        style="top: 50%; transform: translateY(-50%); font-size: 20px"
        (click)="togglePasswordVisibility()"
      >
        {{ passwordFieldType === "password" ? "visibility_off" : "visibility" }}
      </span>
    </div>

    <label class="block text-gray-600 mb-1" for="confirm-password-register"
      >Confirm Password</label
    >
    <div class="relative">
      <input
        id="confirm-password-register"
        [type]="confirmPasswordFieldType"
        required
        class="w-full p-3 border border-gray-300 rounded mb-4 focus:outline-none focus:ring-2 focus:ring-[#F97B74] pr-10"
      />
      <span
        class="material-symbols-outlined absolute right-3 cursor-pointer select-none text-gray-500"
        style="top: 50%; transform: translateY(-50%); font-size: 20px"
        (click)="toggleConfirmPasswordVisibility()"
      >
        {{
          confirmPasswordFieldType === "password"
            ? "visibility_off"
            : "visibility"
        }}
      </span>
    </div>

    <button
      type="submit"
      class="w-full bg-[#F97B74] hover:bg-[#e56769] text-white py-3 rounded font-semibold transition"
    >
      Register
    </button>

    <p class="text-center text-gray-600 mt-4 text-sm">
      Already a User?
      <a
        routerLink="/staff/login"
        class="underline hover:text-[#e56769] cursor-pointer"
        >Login now</a
      >
    </p>
  </form>
</div>
